<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Djcrm</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    {% include "navbar.html" %}
    <div class = "max-w-4xl mx-auto bg-gray-100">
    {% block content %}

    {% endblock content %}
    </div>
</body>

</html>